/*--------Переменные--------*/
:root {
  --main-header-color:#000000;
  --logo-header-color:#FFFFFF;
  --logo-text-color:#4A90E2;
  --primary-button-color:#4A90E2;
  --max-content-size:1170px;
}



@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Regular.woff2),
  url(/fonts/PTSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Italic.woff2),
  url(/fonts/PTSans-Italic.woff);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Bold.woff2),
  url(/fonts/PTSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.page-header {
  width: 100%;
  background-color: var(--main-header-color);
}

.page-header__container {
  max-width: var(--max-content-size);
  height: 90px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--logo-header-color);
}

.page-header__logo-text {
  padding: 2px 6px;
  margin-left: 6px;
  position: absolute;
  background-color: var(--logo-text-color);
  border-radius: 3px;
}

.menu__list {
  font-size: 14px;
  line-height: 18px;
  width: 368px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}

.menu__item {
list-style: none;
}

.menu__link {
  text-decoration: none;
  color: #fff;
}

.search {
  position: relative;
}

.search::after {
  content:""; clear:both; display:table
}

.search__input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  padding-right: 30px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
}

.search__input:focus {
  width: 300px;
  padding-right: 30px;
}

.search__button {
  background: none;
  border: none;
  position: absolute;
  top: 13px;
  right: 5px;
  cursor: pointer;
}

.main-container {
  max-width: var(--max-content-size);
  margin: 0 auto;
  padding: 50px;
}